<h1>Listando Pessoas</h1>

<ul>
	<% @pessoas.each do |pessoa| %>
		<li>
			<%= link_to pessoa.nome, pessoa_path(pessoa) %>
		</li>
	<% end %>
</ul>

<%= link_to "cadastrar uma nova pessoa", new_pessoa_path %>
