<h1><%= @pessoa.nome %></h1>

<p><%= @pessoa.email %></p>

<p><%= link_to "voltar a pagina inicial", pessoas_path %> </p>
<p><%= link_to "deletar pessoa", pessoa_path(@pessoa), :method => :delete %> </p>
